.divider {
  background-color: #e0e0e0;
  height: 1px;
  overflow: hidden;
}

.dropdown-content {
	top: 60px !important;
}

.logo_image {
	width:300px;
}

.page-footer {
  bottom:0px;
  left:0px;
	padding-top: 0px !important;
	position:fixed;
  width:100%;
}

.profile_image {
  height:40px;
  vertical-align: middle;
	width:40px;
}

.profile_link {
	padding: 0px;
}

.post_user{
	display: inline-block !important;
}

.post_user_image {
	width: 60px;
}

.new_blog_card {
  position: fixed;
  right: 0px !important;
}

.nav-wrapper{
  /*background-image: url('header.jpg');*/
}
