// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "materialize/components/color";

.left_nav {
	@extend .blue, .lighten-4;
}

.blog_list:hover {
	opacity: 0.5;
}

.link_list {
  text-decoration: none;
  color:black;
}

.comment_editor {
  position: fixed;
  z-index: 9999;
  bottom: 28px;
}